<!DOCTYPE html>

{% extends 'base.html' %}
{% block content %}       
    
<div class="container">
  
  <!-- Conditional rendering. Get an instance for evry record in the DB -->
  {% for book in books %}

<table class=" striped responsive-table">
       
          <tr>
              <th>Subject Name</th>
              <th>Book Title</th>
              <th>Author</th>
              <th>Description</th>
              <th>Availability</th>              
              <th>Name of Lender</th>
              <th>Due Date</th>
          </tr>     
        
          <tr>
            <td>{{book.subject_name}}</td>                 
            <td>{{book.book_title}}</td> 
             <td>{{book.book_author}}</td>
             <td>{{book.book_description}}</td>        
            <td>{{book.is_available}}</td>            
            <td>{{book.lender_name}}</td>                
            <td>{{book.due_date}}</td>
          </tr>       
      </table>
      <br><br><br>
 
    <div class="row">     
      <div class="valign-wrapper col s12">
        <i class="material-icons">arrow_drop_down</i>
        <a class="waves-effect waves-light btn">Done</a>
        <a class="waves-effect waves-light btn orange">Edit</a>
      </div> 
      </div> 
      <br><br>         
   
    {% endfor %}
  
  </div>

 {% endblock %}
