<!DOCTYPE html>

{% extends 'base.html' %}
{% block content %}       
    
<div class="container">
    

  <!-- Conditional rendering. Get an instance for evry record in the DB -->
 <div class="row">
 <table class=" striped responsive-table">       
          <tr>
              <th>Subject Name</th>
              <th>Book Title</th>
              <th>Author</th>
              <th>Description</th>
              <th>Availability</th>              
              <th>Name of Lender</th>
              <th>Due Date</th>
          </tr>     
        
          <tr>
            <td>{{book.subject_name}}</td>                 
            <td>{{book.book_title}}</td> 
             <td>{{book.book_author}}</td>
             <td>{{book.book_description}}</td>        
            <td>{{book.is_available}}</td>            
            <td>{{book.lender_name}}</td>                
            <td>{{book.due_date}}</td>
          </tr>       
      </table> 
 </div>

      <br><br>

    <div class="row">     
      <div class="valign-wrapper col s12">
        <i class="material-icons">arrow_drop_down</i>
        <a href="{{url_for('delete_book', book_id=book._id)}}" class="waves-effect waves-light btn">Delete</a><br>
        <a href="{{url_for('edit_book', book_id=book._id)}}" class="waves-effect waves-light btn orange">Edit</a>
        <a href="{{url_for('get_books', book_id=book._id)}}" class="waves-effect waves-light btn blue">find</a><br>
      </div> 
      </div>
      <hr> 
      <br><br>         
     
  </div>

 {% endblock %}
