<!DOCTYPE html>

{% extends 'base.html' %}
{% block content %}       
 
<section>
<div class="container">

      <!---- Search Box -->

<br><br>
<form action="{{ url_for('find_book') }}" method="GET">
  <input type="text" placeholder="Book Title" id="book_title" name="book_title" >
  <button type="submit"><i class="fa fa-search">Search</i></button>
</form>


<div class="row">
        <div class="col s12 m6">
          <div class=" card medium">
            <div class="card-image">
              <img src="{{url_for('static', filename='img/book.jpg')}}">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m6">
          <div class=" card medium">
            <div class="card-image">
              <img src="{{url_for('static', filename='img/book1.jpg')}}">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>

</div>



</section>

<div class="container-fluid">

    <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Card Title</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
             <a href="{{url_for('add_book')}}" class="waves-effect waves-light btn orange">Add Books</a><br><br>
              
            </div>
          </div>
        </div>
      </div>

<div class="row">

    <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Card Title</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
             <a href="{{url_for('get_books')}}" class="waves-effect waves-light btn orange">Get Books</a><br><br> 
              
            </div>
          </div>
        </div>
      </div>   
</div>
</div>



{% endblock %}