<!DOCTYPE html>

{% extends 'base.html' %}
{% block content %}       
    
<div class="container-fluid">
  
  <!-- Conditional rendering. Get an instance for evry record in the DB -->
  {% for med in media %}
    <table class=" striped responsive-table">
       
          <tr>
              <th>Media Name</th>
              <th>Media Type</th>
              <th>Description</th>
              <th>Availability</th>              
              <th>Name of Lender</th>
              <th>Due Date</th>
          </tr>     
        
          <tr>
            <td>{{med.media_name}}</td>                 
            <td>{{med.media_type}}</td> 
             <td>{{med.media_description}}</td>        
            <td>{{med.is_booked}}</td>            
            <td>{{med.lender_name}}</td>                
            <td>{{med.due_date}}</td>
          </tr>       
      </table>

  {% endfor %}
    
  </div>

 {% endblock %}
